[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=rupesh
Group=rupesh
WorkingDirectory=/home/rupesh/app/src/
Environment="PATH=/home/fastrupesh/app/venv/bin"
EnvironmentFile=/home/rupesh/.env
ExecStart=/home/rupesh/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target